<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registr</title>
</head>
<body>
<h2>REJISTRATION</h2>
<form action="registr" method="post"><br>
     {% csrf_token %}
    <input type="text" name="username" placeholder="enter the username"><br>
    <input type="text" name="first_name" placeholder="enter the first name"><br>
    <input type="text" name="last_name" placeholder="enter the last name"><br>
    <input type="email" name="email" placeholder="enter the email"><br>
    <input type="password" name="password" placeholder="enter the password"><br>
    <input type="password" name="password1" placeholder="conform password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>